$padding-main: 7rem;

// colors
$gradient-blue-to-greem: linear-gradient(90deg, rgb(0, 234, 255) , rgb(145, 255, 0));
$color-white: white;
$color-orange: #fed101;
$color-blue-dark: #0e0546;
$color-black: black;
$color-yellow: yellow;
$color-aliceblue: aliceblue;
$color-gray-transparet: rgba(201, 201, 201, 0.373);