
.layout{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 12.3dvh 77.7dvh 10dvh;
}


.main{
    background-image: url("../img/calculos.png") ;
    padding: 0 $padding-main 0 $padding-main;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .title{
        width: 100%;
        text-align: center;
        font-size:2.5rem;
        font-weight: 900;
    }
    

    img{
        width: 90%;
    }
}
.section:has(.title){
    gap: 30px;

}

//-------------LAYOUT------------------//

.main-content-intoduction{
    width: 100%;
    // height: 77.7dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 4rem;
    text-transform: uppercase;

    .title{
        font-size: 10rem;
    }
    
    .cabessario{
        display: flex;
        place-items: center;
        flex-direction: column;
        text-align: center;
        
       
    }
    .nomes{
       margin-top: 4rem; 
       text-align: right;
       width: 100% ;
       
    }
   
}

//-------------LAYOUT------------------//

.main-content-home,.main-conteiner-quests{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 77.7dvh;
   
       
}

//-------------LAYOUT------------------//

.main:has(.main-content-quest){
    display: flex;
    align-items: center;
}
.main-content-quest{
   display: grid;
   grid-template-columns: 1fr 3fr;
   grid-template-rows: 1fr 3fr;
   font-size: 1.5rem;
   grid-gap: 1rem;

  .quest-statement{
     display: grid;
     grid-template-columns:  4rem calc(100% - 4rem);
   
    grid-column: 1/4;
    .number-quest{
        width: 3rem;
        height: 3rem;
        color: $color-white;
        background-color: $color-blue-dark;
        padding: .4rem;
        border-radius: 100%;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
  }
  .section-opitions-conteiner{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .section-display-formulas{
    display: flex;
    align-items: center;
    justify-content: start;
  }
}
