.modal-warn{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .2rem;
        left: 50dvw;
        transform: translateX(-50%);
        color: rgba(0, 0, 0, 0.605) ;
        font-size: .7rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: $color-white;
        border: 1px solid $color-black;
        padding: .5rem;
        opacity: 1;
        transform: translate(-50%, -300%);
        animation-name: top-to-button;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        

     

        &::before{
            content: "";
            display: inline-block;
            position:absolute;
            border-width: 8px;
            border-style: solid;
            border-color:  transparent transparent  rgba(0, 0, 0, 0.605) transparent;
            opacity: 1;
            transition-property: opacity;
            transition-duration: .2s;
            bottom: 100%;
            left: calc(50% - 8px);
         }
}
    

